.container-general {
    width: 100%;
    height: auto; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
#produtos{
    display: none;
}
.container-cart {
    display: flex;
    margin: 20px auto;
    width: 100%; 
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px;
}

.produto {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70vh; 
    height: 300px; 
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.card-cart-2 {
   margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 20px; 
}

.card-cart-2 h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    max-width: 100%;
    transition: all 0.5s; 
}

.btn:hover {
    box-shadow: 5px 5px 5px black;
    transform: scale(1.1); 
}

@media (max-width: 650px) {
    .container-general {
        flex-direction: column-reverse;
    }

    .card-cart-2 h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .btn-concluir{
        font-size: 10px;
    }
    h3{
        font-size: 12px;
    }
    .card-cart-2{
        width: 60%;
        display: flex;
    }
    .container-cart{
        
        width: 100%;
       
    }
}
