@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.container-header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 2% 10%;
   
}


header {
    background: #0E2037;
   
}



.search {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.menu-baixo{
    display: flex;
    justify-content: space-evenly;
    
    padding: 5px 10px;
   
    
}
.menu-baixo a{
    padding: 5px 0;
    display: flex;
    justify-content: center;
    width: 10em;
    color: black;
    background-color: yellow;
    font-weight: bold;
    border-radius: 4px;
}
.cart-login {
    display: flex;
    gap: 8em;
}



a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}



footer{
    flex-shrink: 0;
    background-color: #0E2037;
    width: 100%;
    height: 50px;
}

.search input{
    width: 25em;
    border-radius: 4px;
}

