main div ul {
    list-style: none;
}

main{
    display: flex;
    margin: 0 auto;
    width: 1400px;
    height: 100%;
}
@media (max-width: 1200px){
    main{
        width: 1000px;
       
    }
}

@media (max-width: 600px){
    main{
        width: 600px;
        
        
    }
}
@media (max-width: 400px){
    main{
        margin: 0 auto;
        width: 300px;
      
        
    }
    #card-item{
        max-width: 60;
    }
}

main div ul {
    margin-top: 15px;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
}


/*main div ul li{
    background-color: rgb(50, 14, 90);
    width: 200px;
    height: 200px;
}*/
#card-item{
   background-color: #fff;
   padding: 10px;
   border: 2px solid black;


   max-width: 100%;
   -moz-transition: all 0.5s;
   -webkit-transition: all 0.5s;
   transition: all 0.5s;


}

#card-item h3{
    font-size: 23px;
}

#card-item img{
    width: 100%;
    border: 2px solid black;    
}
body{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
}

#card-item:hover{
    box-shadow: 5px 5px 5px black;

    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
     transform: scale(1.1);
}

ul li button{
    padding: 10px;
    background-color: yellow;
    color: black;
    font-size: 15px;
}