main{
    width: 100vh;
    height: 100%;
    margin: 0 auto;
}
.container-produto{
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: antiquewhite;
}

.container-produto-i{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    
    

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.content h1{
    margin:  5px 5px 15px 20px;
    width: 50vh;
    
}



.img-pequena{
    background-color: black;
    width:10vh;
    height: 10vh;  
    margin-left: 10px;
    padding-bottom: 20px;

    
    
}

.img-grande{
    background-color: black;
    width: 30vh;
    height: 30vh;

}
.descricao{
    width: 70%;
}